

@media (min-width:900px) {
    .contactBox2{
        text-align: start;
        display: flex;
    }
    #contactBox2{
        display:none;
            }
}
@media (max-width:900px){
   
    #contactBox{
        display: none;
        
    }
    #contactBox2{
display:block;
    }
}


input:hover{
    border: 1px dotted black;
    }
    input{
        border: 1px solid transparent;
        outline: none;
    }
input::placeholder{
    font-weight: 500;
    color: black;
}